<form class="row" [formGroup]="postForm" (ngSubmit)="onSubmitToUpdate()">
    <p class="mt-3">
        <a class="link-opacity-50-hover" href="{{ urlBlog + '/'  + id }}" target="_blank" rel="noopener noreferrer">{{ urlBlog + '/' + id }}</a>
    </p>

    <div class="col-md-12 mb-3">
        <label for="title" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="title" formControlName="title" placeholder="Titulo" required>
    </div>

    <div class="col-md-12 mb-3">
        <label for="subtitle" class="form-label">Subtitulo</label>
        <input type="text" class="form-control" id="subtitle" formControlName="subtitle" placeholder="Subtitulo" required>
    </div>

    <div class="col-md-5 mb-3">
        <label for="created_by" class="form-label">Criado por</label>
        <input type="text" class="form-control" id="created_by" formControlName="created_by" placeholder="Fulano Ciclano" required>
    </div>

    <div class="col-md-1 mb-3">
        <label for="active" class="form-label">Visualização</label>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="active" formControlName="active">
            <label class="form-check-label" for="active">{{ postForm?.value?.active ? 'Ativa' : 'Inativa' }}</label>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <label for="created_at" class="form-label">Data de criação</label>
        <input type="text" class="form-control" id="created_at" formControlName="created_at" placeholder="Subtitulo">
    </div>

    <div class="col-md-3 mb-3">
        <label for="updated_at" class="form-label">Data de atualização</label>
        <input type="text" class="form-control" id="updated_at" formControlName="updated_at" placeholder="Subtitulo">
    </div>

    <div class="col-md-6 mb-3">
        <label for="category" class="form-label">Categoria</label>
        <input type="text" class="form-control" id="category" formControlName="category" placeholder="Categoria">
    </div>

    <div class="col-md-6 mb-3">
        <label for="topics" class="form-label">Tópicos</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="topics" [(ngModel)]="topics" [ngModelOptions]="{standalone: true}" placeholder="php" aria-describedby="button-topics">
            <button class="btn btn-outline-secondary" type="button" id="button-topics" (click)="addTopic(topics)">&plus;</button>
        </div>
        @for (topic of splitTopic(postForm?.value?.topics); track $index) {
            <span class="badge text-bg-primary">
                {{ topic }}
                <span (click)="subtrairTopic(topic)" aria-hidden="true">&times;</span>
            </span>
        } @empty {

        }
    </div>

    <div class="col-md-6 mb-3">
        <label for="thumbnail" class="form-label">thumbnail</label>
        <input type="text" class="form-control" id="thumbnail" formControlName="thumbnail" placeholder="thumbnail">
    </div>

    <div class="col-md-6 mb-3">
        <img src="{{ postForm?.value?.thumbnail }}" class="card-img-top img-fluid" style="object-fit: cover; height: 200px;" alt="{{ postForm?.value?.thumbnail }}">
    </div>

    <div class="col-md-12 mb-3">
        <angular-editor formControlName="html" [config]="config"></angular-editor>
    </div>

    <div class="col-md-12 mb-3">
        <button type="submit" class="btn btn-success" [disabled]="!postForm?.valid">Salvar</button>
        <button class="btn btn-danger" type="button" (click)="deletePost(id)">Excluir</button>
    </div>
</form>
